@{
    ViewBag.Title = "About";
}
    <html>

    <body background="~/Content/Fotolia.jpg">
    </body>


    <div class="jumbotron">
        <h2>Getting started</h2>
        <p class="lead">
            Calendari is a tool that allows users to track and schedule their time proportionally. Our teams aim is to deliver a safe service that allows secure and private means of scheduling without any third parties to which many of more better known names sell your data to. So we hope to bring you an enjoyable experience, so why not hop in and start!
        <p><a href="@Url.Action("Calendar")" class="btn btn-primary btn-lg">Calendar &raquo;</a></p>
    </div>
    <div class="jumbotron">
        <h2>Contacts</h2>
        <p class="lead">
            The Calendri team is a small company composed of very dedicated and skilled team members. And while our team is small, our passion and ambition is high in delivering a great product. So if there are any additional questions or ideas on what we should further upgrade then please send us and Email to which we'll respond as fast as possible.'
        </p>
        <p><a href="@Url.Action("Contact")" class="btn btn-primary btn-lg">Contacts &raquo;</a></p>
    </div>

    </html>
