@{
    ViewBag.Title = "Contact";
}

<h1>@ViewBag.Message</h1>
<html>

<body background="~/Content/Fotolia.jpg">
</body>


<div class="jumbotron">
    <dl>
        <dt><h4><b>Phone</b></h4></dt>
        <dd><b>Main:</b> 86451251 <b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; I-VII 7:00-16:00</b></dd>
        <dd><b>After Hours:</b> 8642556 <b>&emsp;&emsp;&emsp;&nbsp; I-V 16:00-22:00</b></dd>
    </dl>
    <dl>
        <dt><h4><b>Email</b></h4></dt>
        <dd>  <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br /></dd>
        <dd> <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a></dd>
        <dd> <strong>General:</strong> <a href="mailto:General@example.com">General@example.com</a></dd>
    </dl>
    <dl>
        <dt><h4><b>Address</b></h4></dt>
        <dd> Lithuania, Vilnius, Gariunai 36g.</dd>
        <dd> Lithuania, Kaunas, Kazkas 12a</dd>
    </dl>
</div>
</html>
