@{
    ViewBag.Title = "Home Page";
}

<html>

<body background="~/Content/Fotolia.jpg" >
</body>

</html>

<div class="jumbotron">
    <h1>Calendari</h1>
    <p class="lead">Calendari is a free calendar tracking service which values and respects it's users privacy and security.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

